{% extends 'base.html' %}

{% block uptop %}
<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        {% url 'search' as search %}
        {% url 'tidy' as tidy %}
        <li {% if request.path == search %} class="active" {% endif %}><a href="{% url 'search' %}">Search your wardrobe <span class="sr-only">(current)</span></a></li> &nbsp &nbsp &nbsp &nbsp
        <li {% if request.path == tidy %} class="active" {% endif %}><a href="{% url 'tidy' %}">Put things in your wardrobe <span class="sr-only">(current)</span></a></li> <br>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block styles %}
<style>
  .jumbotron {
    text-align: center;
  }
</style>
{% endblock %}

{% block jumbotron %}
  <div class="jumbotron">
    <h1 class="display-3">Carolyn's Weather Wardrobe Database </h1>
  </div>
{% endblock %}

{% block doorform %}
<br>
<iframe class="airtable-embed" src="https://airtable.com/embed/shrutfIwnXH8ocquf?backgroundColor=yellow" frameborder="0" onmousewheel="" width="100%" height="500" style="background: transparent; border: 1px solid #ccc;"></iframe>
{% endblock %}

{% block subheaders %}
{% endblock %}
